{% extends "base.html" %}

{% block contain %}

<div class="d-flex justify-content-center align-items-center pt-5">
    <div>
        <h1 class="btn-primary text-decoration-underline">Details</h1>
    </div>
</div>
<div>
    {% if name and email is not None %}
    <h3>Name: {{name}}</h3>    
    <h3>Email: {{email}}</h3>
    <h3>Rating: {{rating}}</h3>
    {% else %} 
    <br>
    <h1 class="d-flex justify-content-center align-items-center pt-5">No data Available</h1>    
    {% endif %}
</div>
{% endblock contain %}